.news-background {
    width: 100vw;
    height: 100vh;
    background-image: url(https://res.cloudinary.com/complexityguild/image/upload/v1548721775/wow/backgrounds/news-main.jpg);
}

.news-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: fade 3s;
    -o-animation: fade 3s;
    -moz-animation: fade 3s;
    -webkit-animation: fade 3s;
    background: rgba(17, 11, 41, 0.5);
}

.news-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background: rgba(17, 11, 41, 0.5);
}

.news-countdown {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 70px;
    animation: fade 4s;
    -o-animation: fade 4s;
    -moz-animation: fade 4s;
    -webkit-animation: fade 4s;
}

.news-countdown-time {
    font-size: 15px;
}

.news-flex-column {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 238px;
    border: 2px solid transparent;
    border-left: 2px solid rgb(146, 91, 234);
    border-radius: 10px;
}

.news-countdown-timer {
    letter-spacing: 0;
    color: white;
    background-color: #17171A;
    border-radius: 4px;
    padding: 5px 6px;
    text-align: center;
}

.news-card {
    overflow: hidden;
    width: 20%;
    min-width: 382px;
    height: 425px;
}

.news-card-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: transparent;
    transition: background-image 1s ease 0s;
}

.news-card-layer:hover, .news-card-layer:focus {
    background-image: linear-gradient(#000000b3, #000000b3);
}

#news-title {
    width: 100%;
    opacity: 1;
    padding: 10px;
    cursor: default;
    border-color: transparent;
    background: rgba(17, 11, 41, 0.5);
    color: white;
    text-shadow: rgb(146, 91, 234) 0px 1px 9px;
}

#news-text {
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.news-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 70%;
    background-image: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77));
    border: 1px solid rgb(146, 91, 234);
    opacity: 0;
    transition: opacity 1s ease 0s;
}

.news-desc-title {
    border-bottom: 1px solid rgb(146, 91, 234);
    margin-bottom: 10px;
}

.news-card-layer:hover .news-desc-container, .news-card-layer:focus .news-desc-container{
    opacity: 1;
}

.news-desc-text {
    color: white;
    font-size: .8rem;
}

.news-flex-column:hover, .news-flex-column:focus {
    cursor: pointer;
    border: 2px solid rgb(146, 91, 234);
}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-o-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-moz-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}