.highcharts-tooltip>span {
    background: #110b28;
    z-index: 1;
    border: 1px solid rgb(146, 91, 234);
    padding: 5px;
}

.highcharts-tooltip-box {
    stroke-width: 0px;
}

.highcharts-xaxis-labels>span>a {
    font-size: 1rem;
}