.prof-category {
    padding: 5px;
    background-image: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77));
    font-size: 25px;
    border: solid 1px rgb(0, 0, 0);
    color: white;
    text-shadow: rgb(146, 91, 234) 0px 1px 9px;
}

.prof-category:hover {
    cursor: pointer;
    border: solid 1px rgb(146, 91, 234);
}

#prof-row {
    box-shadow: none;
}

.prof-name {
    margin-right: 5px;
    font-size: .9rem;
    color: white;
    text-shadow: rgb(146, 91, 234) 0px 1px 9px;
}

.prof-name-container {
    width: 35%;
}

.prof-bar-container {
    width: 60%;
}