.App {
  text-align: center;
  /* background: #212121; fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #4A00E0, #8E2DE2); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  background: #121212;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wowhead-tooltip td, .wowhead-tooltip th {
  background: #1a1a1aaf;
}

.wowhead-tooltip table, .wowhead-tooltip td, .wowhead-tooltip th, .wowhead-tooltip tbody {
  border: none !important; 
}

.wowhead-tooltip {
  border: 1px solid black !important;
  box-shadow: 2px 2px 8px #000000 !important;
}

/* .wowhead-tooltip p {
  left: 275px !important;
  top: 2px !important;
} */