body {
  margin: 0;
  background: #110b29;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Oswald,sans-serif;
  width: 100vw;
  height: 100vh;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  color: rgb(146, 91, 234);
  text-shadow: 2px 2px black;
}

h2 {
  color: rgb(120, 77, 189);
  text-shadow: 2px 2px black;
}

h3 {
  color: rgb(104, 85, 179);
}

li {
  color: #00aeff;
}

.page-div {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 70px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display:none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.button-border {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* transform: skewX(-25deg); */
  margin: 5px;
  width: 100px;
  height: 40px;
  /* opacity: 0.66; */
  /* background-image: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77)); */
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition: color 0.5s ease 0s;
}

#button-selected {
  opacity: 1;
  color: rgb(146, 91, 234);
}

.button-text:hover {
  cursor: pointer;
  opacity: 1;
  color: rgb(146, 91, 234);
}

.basic-hover:hover {
  cursor: pointer;
  background-color: #25262A;
}

.button-text {
  /* transform: skewX(25deg); */
  font-size: 16px;
  font-weight: 300;
  line-height: 1.73;
  letter-spacing: 0.3px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(146, 91, 234) 0px 1px 9px;
}

.fade1s {
  animation: fade 1s;
  -o-animation: fade 1s;
  -moz-animation: fade 1s;
  -webkit-animation: fade 1s;
}

.fade2s {
  animation: fade 2s;
  -o-animation: fade 2s;
  -moz-animation: fade 2s;
  -webkit-animation: fade 2s;
}

.fade3s {
  animation: fade 3s;
  -o-animation: fade 3s;
  -moz-animation: fade 3s;
  -webkit-animation: fade 3s;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.icon15 {
  width: 15px;
  height: 15px;
  background-size: 15px;
}

.icon20 {
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.icon25 {
  width: 25px;
  height: 25px;
  background-size: 25px;
}

.icon30 {
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.icon35 {
  width: 35px;
  height: 35px;
  background-size: 35px;
}

.icon40 {
  width: 40px;
  height: 40px;
  background-size: 40px;
}

.icon45 {
  width: 45px;
  height: 45px;
  background-size: 45px;
}

.icon50 {
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.icon55 {
  width: 55px;
  height: 55px;
  background-size: 55px;
}

.icon60 {
  width: 60px;
  height: 60px;
  background-size: 60px;
}

.opacity25 {
  opacity: 0.25;
}

.input {
  width: 100%;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  background-image: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77));
  border: solid 1px rgb(0, 0, 0);
  color: #747474;
  font-size: 25px;
  font-family: Oswald,sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  box-shadow: 5px 5px 8px #000000;
}

.image-mask {
  z-index: -1;
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
}

.image-mask-topdown {
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
}

.MuiPaper-root-16, .MuiPaper-root-23 {
  background-color: #17171A !important;
  color: white !important;
}

.MuiTypography-title-50 {
  color: white !important;
  font-size: 1.75rem !important;
}

.MuiTypography-subheading-51 {
  color: white !important;
  font-size: 1rem !important;
}

#site-error-modal {
  z-index: 1400 !important;
}

#alert-dialog-slide-title {
  background-color: #17171A !important;
  color: white !important;
}

#alert-dialog-slide-content {
  background-color: #17171A !important;
  color: white !important;
}

#alert-dialog-slide-actions {
  margin: 0px !important;
  background-color: #17171A !important;
  color: white !important;
}

.modal-title {
  color: rgb(120, 77, 189);
  text-shadow: 2px 2px black;
}

.modal-description {
  margin: 5px;
  width: 100%;
  font-size: 1rem;
  color: #5C5C5C;
  line-height: 1.25em;
}

.gradient-line-white { 
  height: 1px;
  background: white;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(25%, white), color-stop(75%, white));
}

.gradient-line-purple { 
  height: 1px;
  background: rgb(146, 91, 234);
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(25%, rgb(146, 91, 234)), color-stop(75%, rgb(146, 91, 234)));
}

#modal-textfield {
  color: white;
}

/* Class Colors */
#deathKnight {
  color: #c41e3b;
}

#demonHunter {
  color: #a330c9
}

#druid {
  color: #ff7c0a
}

#hunter {
  color: #aad372
}

#mage {
  color: #68ccef;
}

#monk {
  color: #00ffba;
}

#paladin {
  color: #f48cba;
}

#priest {
  color: #f0ebe0;
}

#rogue {
  color: #fff468;
}

#shaman {
  color: #2359ff;
}

#warlock {
  color: #9382c9;
}

#warrior {
  color: #c69b6d;
}

/* Loading Animation */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pulse {
  animation: pulse 6s infinite;
  -o-animation: pulse 6s infinite;
  -webkit-animation: pulse 6s infinite;
  -moz-animation: pulse 6s infinite;
}

.pulse-color {
  animation: pulse-color 6s infinite;
  -o-animation: pulse-color 6s infinite;
  -webkit-animation: pulse-color 6s infinite;
  -moz-animation: pulse-color 6s infinite;
}

@keyframes pulse {
  0%, 100% { border-bottom: 2px solid rgb(146, 91, 234) }
  50% { border-bottom: 2px solid transparent }
}

@keyframes pulse-color {
  0%, 100% { color: white }
  50% { color: transparent }
}

@-o-keyframes pulse {
  0%, 100% { border-bottom: 2px solid rgb(146, 91, 234) }
  50% { border-bottom: 2px solid transparent }
}

@-o-keyframes pulse-color {
  0%, 100% { color: white }
  50% { color: transparent }
}

@-moz-keyframes pulse {
  0%, 100% { border-bottom: 2px solid rgb(146, 91, 234) }
  50% { border-bottom: 2px solid transparent }
}

@-moz-keyframes pulse-color {
  0%, 100% { color: white }
  50% { color: transparent }
}

@-webkit-keyframes pulse {
  0%, 100% { border-bottom: 2px solid rgb(146, 91, 234) }
  50% { border-bottom: 2px solid transparent }
}

@-webkit-keyframes pulse-color {
  0%, 100% { color: white }
  50% { color: transparent }
}

/* Scroll Up from Bottom Animation */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-500px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-500px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* Scroll Right from Left Animation */
.animate-left {
  position: relative;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 1s;
  animation-name: animateleft;
  animation-duration: 1s
}

@-webkit-keyframes animateleft {
  from { left:-500px; opacity:0 } 
  to { left:0px; opacity:1 }
}

@keyframes animateleft { 
  from{ left:-500px; opacity:0 } 
  to{ left:0; opacity:1 }
}

/* Scroll Left from Right Animation */
.animate-right {
  position: relative;
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 1s;
  animation-name: animateright;
  animation-duration: 1s
}

@-webkit-keyframes animateright {
  from { right:-500px; opacity:0 } 
  to { right:0px; opacity:1 }
}

@keyframes animateright { 
  from{ right:-500px; opacity:0 } 
  to{ right:0; opacity:1 }
}

/* Scroll Down from Top Animation */
.animate-top {
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s
}

@-webkit-keyframes animatetop {
  from { top:-500px; opacity:0 } 
  to { top:0px; opacity:1 }
}

@keyframes animatetop { 
  from{ top:-500px; opacity:0 } 
  to{ top:0; opacity:1 }
}

@media (max-width: 1300px) {
  body {
    font-size: 0.75rem;
  }
}