.prog-category {
    padding: 5px;
    background-image: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77));
    font-size: 1rem;
    border: solid 1px rgb(0, 0, 0);
    color: white;
    text-shadow: rgb(146, 91, 234) 0px 1px 9px;
}

.prog-category:hover {
    cursor: pointer;
}

.prog-category-open, .prog-category:hover {
    border: solid 1px rgb(146, 91, 234);
}

.prog-title {
    width: 40%;
    font-size: 1rem;
}

#prog-raid-type {
    padding-right: 10px;
    text-align: end;
}

.prog-sub-category {
    padding: 5px;
    font-size: 20px;
    color: white;
    text-shadow: rgb(146, 91, 234) 0px 1px 9px;
}

#prog-sub-boss {
    background-image: linear-gradient(17deg, rgb(31, 20, 73), rgb(66, 54, 114));
}

.prog-kills {
    width: 280px;
    font-size: .9rem;
}

.prog-bar {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
}

.prog-bar-title {
    width: 70%;
    margin: 0px 10px;
    text-align: center;
    font-size: 1rem;
}

#prog-card {
    width: 98%;
    padding: 5px;
    align-items: center;
    background-color: #25262A;
    background-image: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77));
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.prog-boss {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
    color:white;
}

.prog-boss:hover {
    cursor: pointer;
    color: rgb(146, 91, 234);
}

.prog-difficulty-container {
    width: 100%;
}

.prog-difficulty {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
    color:white;
    border-bottom: 1px solid rgb(146, 91, 234);
}

.prog-name {
    width: 100%;
    text-shadow: none;
    margin: auto;
}