.char-background {
    max-width: 1660px;
    height: 100vh;
    background-position: center -140px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}

.char-info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
}

.armorycharimage {
	margin: 5px;
    height: 100px;
    width: 95%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    transition: border 0.75s;
    box-shadow: 5px 5px 8px #000000
}

.charname {
	color: white;
    font-size: 30px;
    text-shadow: 2px 2px 3px #000000;
    margin-left: 10px;
}

.char-info-overflow {
    height: 79vh;
    width: 33vw;
    overflow: scroll;
    overflow-X: hidden;
    overflow-Y: scroll;
    z-index: 1;
}

.char-info {
    height: 100%;
    width: 33vw;
    z-index: 1;
}

.selected-char {
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    font-size: 1.75rem;
    width: 33vw;
    z-index: 1;
}

.selected-char-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
}

.armorycharimage:hover {
	border: 1px solid #472ead;
    cursor: pointer;
}

.selected-category-container {
    width: 95%;
}

.pulse-select {
    font-size: 2rem;
    margin-top: 40vh;
    width: 33vw;
}

.char-button-container {
    z-index: 1;
}

#non-hunter {
    opacity: 0.25;
    border-color: transparent;
    cursor: not-allowed;
}

.progress-bar-container {
    display: flex;
    justify-content: center;
    width: 33vw;
}

.row-container {
    margin: 5px;
    padding: 5px;
    box-shadow: 5px 5px 8px #000000;
}

.collected {
    border: solid 1px #000000;
    background-image: linear-gradient(17deg, rgb(17, 11, 41), rgba(17, 11, 41, 0));
}

.not-collected {
    opacity: 0.50;
    border: solid 1px transparent;
    background-image: linear-gradient(17deg, rgb(17, 11, 41), rgba(17, 11, 41, 0));
}

.row-name {
    font-size: 1.05rem;
    margin-left: 5px;
}

.tooltip {
    max-width: 300px;
}

@media (max-width: 600px) {

    .char-div {
        height: auto;
    }

    .char-info-container {
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .char-info-overflow {
        height: 20vh;
        width: 100vw;
    }

    .selected-char {
        width: 100vw;
    }

    .pulse-select {
        width: 100vw;
    }

    .char-info {
        width: 100vw;
    }

    .char-button-container {
        width: 100vw;
    }
}