.armorycharimage {
	margin: 5px;
    height: 100px;
    width: 95%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    transition: border 0.75s;
    box-shadow: 5px 5px 8px #000000
}

.charname {
	color: white;
    font-size: 30px;
    text-shadow: 2px 2px 3px #000000;
    margin-left: 10px;
}

.char-info-container {
    display: flex;
    justify-content: space-between;
    height: 85%;
    z-index: 2;
}

.char-info-overflow {
    height: 80vh;
    width: 33vw;
    overflow: scroll;
    overflow-X: hidden;
    overflow-Y: scroll;
}

.char-info {
    margin-top: 60px;
    height: 80vh;
    width: 33vw;
}

.selected-char {
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    font-size: 1.75rem;
    margin-top: 60px;
    width: 33vw;
}

.selected-char-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
}

.armorycharimage:hover {
	border: 1px solid #472ead;
    cursor: pointer;
}

.image-mask {
    z-index: -1;
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
}

.selected-category-container {
    width: 95%;
}

.pulse-select {
    font-size: 2rem;
    margin-top: 40vh;
    width: 33vw;
}

.button-border {
    margin: 5px;
    width: 150px;
    height: 40px;
    background-color: #160e37;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px #000000;
}

.button-border:hover {
    background-color: white;
    color: #160e37;
    cursor: pointer;
}

.button-selected {
    background-color: white;
    color: #160e37;
    margin: 5px;
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px #000000;
}

.button-non-hunter {
    margin: 5px;
    width: 150px;
    height: 40px;
    background-color: #160e3781;
    border: 1px solid #ffffff81;
    color: #ffffff81;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px #00000083;
}

.progress-bar-container {
    display: flex;
    justify-content: center;
    width: 33vw;
}

.row-container {
    margin: 5px;
    padding: 5px;
    box-shadow: 5px 5px 8px #000000;
}

.collected {
    border: solid 1px #000000;
    background-color: #181818;
}

.not-collected {
    opacity: 0.50;
    border: solid 1px transparent;
    background-color: #181818;
}

.row-name {
    font-size: 1.05rem;
    margin-left: 5px;
}

.tooltip {
    max-width: 300px;
}

@media (max-width: 600px) {
    .char-info-container {
        flex-direction: column;
        /* height: 100vh; */
    }

    .char-info-overflow {
        height: 33vh;
        width: 100vw;
    }

    .selected-char {
        margin-top: 0;
        width: 100vw;
    }

    .pulse-select {
        margin-top: 0;
        width: 100vw;
    }

    .char-info {
        margin-top: 0;
        /* height: 80; */
        width: 100vw;
    }
}