.armorycharimage {
	margin: 5px;
    height: 100px;
    width: 95%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    transition: border 0.75s;
    box-shadow: 5px 5px 8px #000000
}

.charname {
	color: white;
    font-size: 30px;
    text-shadow: 2px 2px 3px #000000;
    margin-left: 10px;
}

.selected-char {
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

.armorycharimage:hover {
	border: 1px solid #472ead;
    cursor: pointer;
}

.image-mask {
    z-index: -1;
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%,rgba(0,0,0,0) 100%);
}

.selected-category-container {
    display: flex;
    overflow: auto;
    overflow-x: hidden;
}

.button-border {
    margin: 5px;
    width: 150px;
    height: 40px;
    background-color: #160e37;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px #000000;
}

.button-border:hover {
    background-color: white;
    color: #160e37;
    cursor: pointer;
}

.button-selected {
    background-color: white;
    color: #160e37;
    margin: 5px;
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px #000000;
}

.button-non-hunter {
    margin: 5px;
    width: 150px;
    height: 40px;
    background-color: #160e3781;
    border: 1px solid #ffffff81;
    color: #ffffff81;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px #00000083;
}

.selected-char-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
}

.progress-bar-container {
    display: flex;
    justify-content: center;
    width: 33vw;
}

.progress-bar {
	background-color: #141517;
    border-radius:4px;
    position: relative;
    height: 30px;
}

.progress-internal {
	padding: 5px;
    background-color: #ffc400;
    border-radius:4px;
    font-size: 18px;
    height: 20px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}