.about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: white;
    overflow: hidden;
}

.about-header {
    margin-top: -120px;
}

.header-gradient {
    width: 100vw;
    height: 500px;
}

.about-text {
    max-width: 60vw;
    font-size: 20px;
}

.guild-news-container {
    margin-top: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-footer {
    background: linear-gradient(transparent, #160e37);
    width: 100vw;
    height: 25vh;
    z-index: 1;
}