.about-div {
    width: 100vw;
    height: 100vh;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.guildinfo-container {
    min-width: 200px;
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    border: solid 1px #000000;
    background-color: #181818;
    box-shadow: 5px 5px 8px #000000;
}

a {
    text-decoration: none;
    color: white;
}

.about-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
}

.evenspaced-row {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.about-text {
    max-width: 60vw;
    padding: 25px;
    font-size: 20px;
    border: solid 1px #000000;
    background-color: #181818;
    box-shadow: 5px 5px 8px #000000;
}