.leaderboards-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 93vh;
    width: 100%;
    margin-top: 60px;
    color: white;
}

.stat-card {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 264px;
    height: 352px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 18px #000000;
    overflow: hidden;
}

.stat-card:hover {
    cursor: pointer;
}

.stats-title {
    font-weight: 700;
}

.stat-text-container {
    padding: 5px;
    background-color: #160e37;
    border-top: 3px solid white;
}