.members-div {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    background: #160e37;
    background: -webkit-linear-gradient(to top, #cbb4d4, #160e37);
    background: linear-gradient(to top, #cbb4d4, #160e37);

}

.members-table {
    margin: 15px;
    max-width: 95vw;
}