.pet-container {
    border: solid 1px #000000;
    background-color: #181818;
    transition: border 0.75s;
}

.pet-container:hover {
    border: 1px solid #472ead;
    cursor: pointer;
}

.pet-stats {
    width: 96px;
}

.pet-stat-container {
    width: 326px;
    font-size: .80rem;
}

.pet-stat-row {
    margin: 2px;
}

.pet-stat-modal-row {
    font-size: 1.25rem;
    margin: 10px;
}

.pet-modal-description {
    margin: 5px;
    width: 100%;
    font-size: 1rem;
    color: #5C5C5C;
    line-height: 1.25em;
}

.pet-modal-subtitle {
    width: 100%;
    text-align: center;
}

.pet-modal-ability-name {
    font-size: .80rem;
}

.MuiPaper-root-16  {
    background-color: #181818 !important;
    color: white !important;
}

.MuiTypography-title-50 {
    color: white !important;
    font-size: 1.75rem !important;
}

.quality-select-container, 
.quality-select__control, 
.quality-select__value-container, 
.quality-select__indicators, 
.quality-select__menu, 
.quality-select__menu-list, 
.quality-select__option {
    background-color: #181818 !important;
    z-index: 3 !important;
}

.quality-select__option:nth-child(1) {
    color: #5C5C5C !important;
}

.quality-select__option:nth-child(2) {
    color: white !important;
}

.quality-select__option:nth-child(3) {
    color: #02ff4e !important;
}

.quality-select__option:nth-child(4) {
    color: #0281ff !important;
}

.quality-select__option:nth-child(5) {
    color: #c600ff !important;
}

.quality-select__option:nth-child(6) {
    color: #ff8002 !important;
}

.quality-select__option:hover {
    background-color: #3a3a3a !important;
    cursor: pointer !important;
}

.breed-select-container, 
.breed-select__control, 
.breed-select__value-container, 
.breed-select__indicators, 
.breed-select__menu, 
.breed-select__menu-list, 
.breed-select__option {
    background-color: #181818 !important;
    z-index: 3 !important;
}

.breed-select__option:hover {
    background-color: #3a3a3a !important;
    cursor: pointer !important;
}