.news-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.news-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: fade 3s;
    -o-animation: fade 3s;
    -moz-animation: fade 3s;
    -webkit-animation: fade 3s;
}

.news-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news-countdown {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: #100B07;
    animation: fade 4s;
    -o-animation: fade 4s;
    -moz-animation: fade 4s;
    -webkit-animation: fade 4s;
}

.news-countdown-time {
    font-size: 15px;
}

.news-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 238px;
}

.news-countdown-timer {
    letter-spacing: 0;
    color: white;

}

.news-card {
    overflow: hidden;
    animation: fade 3s;
}

.news-card-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 100%;
    position: relative;
}

.news-card-layer:hover, .news-card-layer:focus {
    background: linear-gradient(#000000b3, #000000b3);
}

.news-title-container {
    position: absolute;
    top: 20px;
    background-color: #160e37;
    width: 80%;
    color: white;
    -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.news-title-text {
    margin: 10px 75px 10px 20px;
}

.news-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 80%;
    background-color: #160e37;
    opacity: 0;
    transition: opacity 2s;
}

.news-card-layer:hover .news-desc-container, .news-card-layer:focus .news-desc-container{
    opacity: 1;
}

.news-desc-text {
    color: white;
}

.news-button {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0;
    color: white;
    border-bottom: 2px solid transparent;
}

.news-button {
    margin-top: 25px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border 1s;
}

.news-button:hover, .news-button:focus {
    cursor: pointer;
    border-bottom: 2px solid #00d99e;
}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-o-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-moz-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}