.achievement-link {
    text-decoration: none;
    max-width: 500px;
    z-index: 1;
}

.achievement-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    max-width: 500px;
    height: 64px;
    background: rgba( 0,0,0,0.3 );
    border: 2px solid rgba( 0,0,0,0.4 );
}

.achievement-icon {

}

.achievement-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.achievement-title {
    text-align: center;
    color: white;
}

.achievement-description {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
}