.achievement-link {
    text-decoration: none;
    max-width: 500px;
    z-index: 1;
}

.achievement-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    height: 44px;
    background: rgba( 0,0,0,0.2 );
    border: 2px solid rgba( 0,0,0,0.4 );
}

.achievement-icon {
    width: 42px;
    height: 42px;
}

.achievement-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.achievement-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 386px;
    text-align: center;
    color: white;
}