.item-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    max-width: 500px;
    z-index: 1;
}

.item-icon {
    margin: 2px;
    height: 42px;
    width: 42px;
    z-index: 1;
    overflow: hidden;
    background-position: center;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    height: 44px;
    background: rgba( 0,0,0,0.2 );
    border: 2px solid rgba( 0,0,0,0.4 );
}

.item-name, .item-level {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 386px;
}