.progress-bar {
	background-color: #141517;
    border-radius:4px;
    position: relative;
}

.progress-internal {
	padding: 5px;
    border-radius:4px;
    height: 70%;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 1px #000000;
}