.progress-bar {
	background-image: linear-gradient(17deg, rgb(44, 36, 77), rgb(17, 11, 41));
    border-radius:4px;
    position: relative;
}

.progress-internal {
    border-radius:4px;
    height: 100%;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 1px #000000;
}