.table-div {
    color: white;
	max-width: 1600px;
	height: 100%;
	overflow: scroll;
}

.table-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 100%;
	position: relative;
	margin-top: 50px;
}

.table-header-row, .table-data-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 100%;
}

.table-header-row {
	background-color: #160e37;
	position: fixed;
	top: 0px;
	z-index: 1;
}

.table-data-row:nth-child(odd) {
    background-color: #160e37;
}

.table-data-row:nth-child(even) {
    background: #1a1241;
}

.table-header, .table-data {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 115px;
}

.table-data {
	height: 20px;
	font-weight: 300;
}

.hover {
	cursor: pointer;
}

.selected {
	color: #00d99e;
}