.table-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: white;
	max-width: 100vw;
	max-height: 80vh;
}

.table-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 100%;
	height: 100%;
	margin-top: 20px;
	overflow: scroll;
}

.table-header-row, .table-data-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 100%;
	min-height: 45px;
}

.table-header-row {
	background-color: #160e37;
	position: relative;
	top: 20px;
	z-index: 1;
	min-height: 45px;
}

.table-data-row:nth-child(odd) {
    background-color: #160e37;
}

.table-data-row:nth-child(even) {
    background: #1a1241;
}

.table-header, .table-data {
	display: flex;
	flex-grow: 2;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 115px;
}

.table-data {
	min-height: 45px;
	font-weight: 300;
}

.hover {
	cursor: pointer;
}

.selected {
	color: #00d99e;
}