.nav-div {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 60px;
    /* background-color: #160e37d7; */
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    height: 30px;
    background-color: rgba(17, 11, 41, 0.5);
}

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(17, 11, 41, 0.5);
}

.logo-container, .login-container {
    margin: 5px;
    width: 330px;
    height: 60px;
    display: flex;
    align-items: center;
    animation: fadeIn 1s linear;
}

.login-container {
    justify-content: flex-end;
}

.logo {
    max-height: 60px;
}

.realm-status-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-size: 14px;
}

.nav-menu {
    font-size: 20px;
    letter-spacing: 0;
    color: white;
}

#nav-button {
    margin: 2px;
    opacity: 0.90;
}

#nav-button:hover {
    opacity: 1;
}

.settings-menu {
    position: relative;
    text-decoration: none;
}

.avatar:hover, .avatar:focus {
    cursor: pointer;
}

.avatar:hover .settings-menu-content, .avatar:focus .settings-menu-content {
    display: flex;
}

.settings-menu-content {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    min-width: 130px;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    padding: 5px;
    animation: fadeIn 0.5s ease 0s;
}

.nav-link {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0;
    color: white;
    background-image: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77));
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.5s ease 0s;
}

.nav-link:hover {
    border-color: rgb(146, 91, 234);
    cursor: pointer;
}

.login {
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0;
    color: white;
    border-bottom: 2px solid transparent;
    background: url('https://res.cloudinary.com/complexityguild/image/upload/v1547439371/site/icons/login_white_small.png') no-repeat center;
    background-size: 40px;
    animation: pulse 6s infinite;
    -o-animation: pulse 6s infinite;
    -webkit-animation: pulse 6s infinite;
    -moz-animation: pulse 6s infinite;
}

.pulse {
    animation: pulse 6s infinite;
    -o-animation: pulse 6s infinite;
    -webkit-animation: pulse 6s infinite;
    -moz-animation: pulse 6s infinite;
}

.pulse-color {
    animation: pulse-color 6s infinite;
    -o-animation: pulse-color 6s infinite;
    -webkit-animation: pulse-color 6s infinite;
    -moz-animation: pulse-color 6s infinite;
}

.login:hover, login:focus {
    cursor: pointer;
    border-bottom: 2px solid #00d99e;
    animation: none;
    -o-animation: none;
    -webkit-animation: none;
    -moz-animation: none;
}

.discord-widget {
    margin: 0px 10px;
    width: 40px;
    height: 40px;
    background: url('https://res.cloudinary.com/complexityguild/image/upload/v1547437427/site/icons/discord_small.png') no-repeat center;
    background-size: 40px;
}

.widget-body {
    font-size: .75rem !important;
}

.avatar {
    /* margin-right: 10px; */
    background-size: contain;
    transition: border 1s;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.affixes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 330px;
    font-size: 12px;
    color: white;
}

@keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}

@keyframes pulse {
    0%, 100% { border-bottom: 2px solid #00d99e }
    50% { border-bottom: 2px solid transparent }
}

@keyframes pulse-color {
    0%, 100% { color: white }
    50% { color: transparent }
}

@-o-keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}

@-o-keyframes pulse {
    0%, 100% { border-bottom: 2px solid #00d99e }
    50% { border-bottom: 2px solid transparent }
}

@-o-keyframes pulse-color {
    0%, 100% { color: white }
    50% { color: transparent }
}

@-moz-keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}

@-moz-keyframes pulse {
    0%, 100% { border-bottom: 2px solid #00d99e }
    50% { border-bottom: 2px solid transparent }
}

@-moz-keyframes pulse-color {
    0%, 100% { color: white }
    50% { color: transparent }
}

@-webkit-keyframes fadeIn {
    0% { opacity:0 }
    100% { opacity:1 }
}

@-webkit-keyframes pulse {
    0%, 100% { border-bottom: 2px solid #00d99e }
    50% { border-bottom: 2px solid transparent }
}

@-webkit-keyframes pulse-color {
    0%, 100% { color: white }
    50% { color: transparent }
}