.settings-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: scroll;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 40vw;
    background-color: #110b29;
    box-shadow: 10px 10px 15px #000000;
}

.settings-column, .settings-column-avatars {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
}

.settings-row, .settings-row-avatars {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px; 
}

.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 40px;
    margin: 5px;
    background-color: #160e37;
    color: white;
    font-weight: 700;
}

.settings-button:hover {
    cursor: pointer;
    background-color: #3a2991;
}

.settings-medavatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #000000;
    color: white;
    font-weight: 700;
}

.settings-medavatar:hover {
    cursor: pointer;
    border: 1px solid white;
}

.settings-selected {
    border: 1px solid #00d99e;
}

/* .MuiDialog-paperWidthSm-62 {
    max-width: 100vw !important;
} */