.settings-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: scroll;
}

.settings-div::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 40vw;
    background: linear-gradient(17deg, rgb(17, 11, 41), rgb(44, 36, 77));;
    box-shadow: 10px 10px 15px #000000;
}

.settings-column, .settings-column-avatars {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
}

.settings-row, .settings-row-avatars {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px; 
}

.settings-medavatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #000000;
    color: white;
    font-weight: 700;
}

.settings-medavatar:hover {
    cursor: pointer;
    border: 1px solid rgb(146, 91, 234);
}

.settings-selected {
    border: 1px solid white;
}