.about-background {
    width: 100vw;
    height: 100vh;
    background: -moz-linear-gradient(17deg, rgb(17, 11, 41, 0.5), rgb(44, 36, 77, 0.5)), url(https://res.cloudinary.com/complexityguild/image/upload/v1534801397/wow/backgrounds/about.jpg);
    background: -webkit-linear-gradient(17deg, rgb(17, 11, 41, 0.5), rgb(44, 36, 77, 0.5)), url(https://res.cloudinary.com/complexityguild/image/upload/v1534801397/wow/backgrounds/about.jpg);
    background: -o-linear-gradient(17deg, rgb(17, 11, 41, 0.5), rgb(44, 36, 77, 0.5)), url(https://res.cloudinary.com/complexityguild/image/upload/v1534801397/wow/backgrounds/about.jpg);
    background: linear-gradient(17deg, rgb(17, 11, 41, 0.5), rgb(44, 36, 77, 0.5)), url(https://res.cloudinary.com/complexityguild/image/upload/v1534801397/wow/backgrounds/about.jpg);
}

.about-pie {
    width: 400px;
    height: 300px;
}

#about-page {
    display: flex;
}

#about-info {
    width: 60%
}

#about-text-container {
    padding: 60px
}

.about-chart-column {
    display: flex;
    flex-direction: column;
    width: 20%;
}

@media (max-width: 1600px) {

    #about-page {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #about-info {
        order: 1;
        width: 80%;
    }

    #about-text-container {
        padding: 20px
    }

    .about-chart-column {
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 1350px) {

    .not-mobile-friendly {
        display: none;
    }
}